*{
    box-sizing: border-box;
}

body{
    margin: 0;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.huddle-landing{
    padding: 70px;
    width: 100%;
    height: 650px;
    background-image: url("images/bg-hero-desktop.svg");
    background-position: center;
    background-size: cover;
    background-color: hsl(193, 100%, 96%);
    display: flex;
    flex-direction: column;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav .logo{
    margin-left: 0;
    height: 20px;
}

.nav button{
    margin-right: 0;
    height: 35px;
    width: 120px;
    border: none;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 2px 2px 12px 2px rgba(0,0,0,0.2);
}

button:focus{
    outline: none;
}

button:hover{
    cursor: pointer;
}

.huddle-landing-info{
    display: flex;
}

.huddle-landing-info .left-info{
    width: 40%;
    padding-top: 100px ;
    padding-right: 70px;  
}

.left-info h2{
    font-size: 2.2rem; 
    font-family: 'Poppins', sans-serif;   
}

.left-info p{
    line-height: 1.4rem;
}

.left-info button{
    height: 35px;
    width: 180px;
    border-radius: 50px;
    border: none;
    background-color: hsl(322, 100%, 66%);
    box-shadow: 2px 2px 12px 2px hsla(322, 100%, 66%,0.2);
    color: #fff;
}

.huddle-landing-info .right-image{
    width: 60%;
    height: 500px;
}

.right-image img{
    padding-top: 30px ;
    width: 100%;
    height: 90%;
}

.box-container{
    margin: 70px 0 70px 0;
    width: 80%; 
    display: flex;
    flex-direction: column;
}
.box-container > .box{
    width: 100%;
    height: 300px;
    display: flex;
    border-radius: 10px;
    box-shadow: 2px 2px 12px 2px rgba(0,0,0,0.2);
    margin: 20px;
}
.box > .text{
    width: 60%;
    padding: 60px;
}
.box > .image{
    width: 40%;
}
.image > img{
    width: 100%;
    height: 100%;
}
.box-container > .box:nth-child(2){
    flex-direction: row-reverse;
}

.pop-up-box{
    position: relative;
    z-index: 100;
    height: 150px;
    border-radius: 10px;
    box-shadow: 2px 2px 12px 2px rgba(0,0,0,0.2);
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 100%;
    background-color: #fff;
}
.pop-up-box h2{
    text-align: center;
}

.pop-up-box button{
    height: 35px;
    width: 180px;
    border-radius: 50px;
    border: none;
    background-color: hsl(322, 100%, 66%);
    box-shadow: 2px 2px 12px 2px hsla(322, 100%, 66%,0.2);
    color: #fff;
}

.footer{
    padding: 100px 70px 30px 70px;
    width: 100%;
    background-color: hsl(192, 100%, 9%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    bottom: 50px;
}

.foot{
    color: #fff;
}

.foot a{
    color: #fff;
    text-decoration: unset;
}


.foot > div small{
    margin-left: 40px;
    display: block;
    font-size: .8rem;
}

.footer .logo-1{
    height: 20px;
    margin-left: 10px;
}

.footer > .foot div{
    margin: 10px;
    position: relative;
}  

.space-up{
    padding-top: 30px;
}

.footer > .foot a{
    vertical-align: top;
    margin: 10px;
    font-size: 0.8rem;
} 

.footer > .foot img{
    display: inline;
    position: absolute;
}


.footer > .foot:nth-child(2){
    display: flex;
    flex-direction: column;
   
}
.footer > .foot:nth-child(3){
    display: flex;
    flex-direction: column;
}

.footer > .foot:nth-child(4){
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.icons i{
    padding: 10px;
    font-size: 0.8rem;
    line-height: 5px !important;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0;
}
.icons{
    display: flex;
    width: fit-content;
}

.copyright{
    position: absolute;
    bottom: 0;
}
@media screen and (max-width: 1300px){
    .logo-1{
        margin-left: 20px;
    }
}
@media screen and (max-width: 770px){
    body{
        font-size: 12px;
    }

    .nav button{
        height: 25px;
        width: 90px;
    }

    .left-info button{
        height: 25px;
        width: 150px;
    }

    .left-info h2{
        font-size: 1.8rem; 
        font-family: 'Poppins', sans-serif;   
    }
    
    .left-info p{
        line-height: 1.1rem;
    }
}

@media screen and (max-width: 420px){

    .huddle-landing{
        padding: 20px;
        width: 100%;
        height: 650px;
    }
    .huddle-landing-info{
        display: flex;
        flex-direction: column;
    }
    .huddle-landing-info .left-info{
        width: 100%;
        padding-top: 10px ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        padding-right: 0;
    }
    .left-info h2{
        text-align: center;
        margin: 30px 0 5px 0;
        line-height: 1.8rem;
    }
    
    .left-info p{
        margin: 20px 0 20px 0;
        text-align:center;
        font-size: 1.1rem;
    }
    .left-info button{
        height: 40px;
        width: 80%;
    }
    .huddle-landing-info .right-image{
        width: 100%;
        height: 300px;
    }
    
    .right-image img{
        padding-top: 30px ;
        width: 100%;
        height: 100%;
    }

    .box-container > .box{
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
    }
    .box > .text{
        width: 100%;
        padding: 20px;
    }
    .text h4{
        text-align: center;
        font-size: 1.1rem;
    }
    .text p{
        text-align: center;
    }
    .box > .image{
        width: 100%;
        padding: 30px;
    }
    .box-container > .box:nth-child(2){
        flex-direction: column;
    }

    .pop-up-box{
        width: 80%;
    }

    .pop-up-box h2{
        font-size: 1rem;
    }
    .footer{
        padding: 100px 10px 10px 30px;
        width: 100%;
        background-color: hsl(192, 100%, 9%);
        display: flex;
        flex-direction: column;
    }
    .footer .logo-1{
        margin-left: 5px;
    }
}